<h2>Đăng nhập</h2>

<form method="post">
    <label>Tài khoản</label>
    <input type="text" name="Username" />

    <label>Mật khẩu</label>
    <input type="password" name="Password" />

    <button type="submit">Đăng nhập</button>
</form>

<p style="color:red">@ViewBag.Error</p>

<a href="/Auth/Register">Chưa có tài khoản? Đăng ký</a>