@model Thu5.Models.User

<h2>Đăng ký</h2>

<form asp-controller="Auth" asp-action="Register" method="post">

    <input name="Username" placeholder="Username" />
    <br />

    <input name="Password" type="password" placeholder="Password" />
    <br />

    <input name="FullName" placeholder="Họ tên" />
    <br />

    <input name="Phone" placeholder="SĐT" />
    <br />

    <button type="submit">Đăng ký</button>
</form>

<p style="color:red">@ViewBag.Error</p>

<a href="/Auth/Login">Đã có tài khoản? Đăng nhập</a>