<h2>Đăng ký</h2>

<form method="post">
    <label>Tài khoản</label>
    <input type="text" name="Username" />

    <label>Mật khẩu</label>
    <input type="password" name="Password" />

    <button type="submit">Đăng ký</button>
</form>

<a href="/Auth/Login">Đã có tài khoản? Đăng nhập</a>